<a href="https://colab.research.google.com/github/Prajapati754/News/blob/main/loop_for_08_10_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6,1):
  print(i)
for i in range(1,6,1):
  print(i,end=" ")

1
2
3
4
5
1 2 3 4 5

In [ ]:
for i in range (0,51,2):
  print(i-1)

-1
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
  for i in range (0,51,2):
    print(i-1,end=" jay ")

-1 jay 1 jay 3 jay 5 jay 7 jay 9 jay 11 jay 13 jay 15 jay 17 jay 19 jay 21 jay 23 jay 25 jay 27 jay 29 jay 31 jay 33 jay 35 jay 37 jay 39 jay 41 jay 43 jay 45 jay 47 jay 49 jay

In [ ]:
for i in range (0,51,2):
  print("jay ")

jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay
jay

In [ ]:
for i in range (0,51,2):
  print(i-12)

-12
-10
-8
-6
-4
-2
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [ ]:
a=5
for i in range(1,a):
  print(a)
  a+=1

a=5
for i in range(1,a):
  print(a)

5
6
7
8
5
5
5
5

In [ ]:
a=5
for i in range(1,a):
  print(a)
  a+=1
print(a)

5
6
7
8
9

In [ ]:
a=5
for i in range(1,a):
  print(a)
  a-=1
print(a)

5
4
3
2
1

In [ ]:
a=5
for i in range(a,-5,-1):
  print(i,end=" ")

5 4 3 2 1 0 -1 -2 -3 -4

In [ ]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
x={1,6,6,1,2}
for i in x:
  print(i)

1
2
6

In [ ]:
r='rajendra'
for i in range(len(r)):
  print(r)

rajendra
rajendra
rajendra
rajendra
rajendra
rajendra
rajendra
rajendra

In [ ]:
a=1.123
for i in range(1,5):
  print(a)
  a-=0.23
print(a)

1.123
0.893
0.663
0.43300000000000005
0.20300000000000004

In [ ]:
a=1
for i in range(a,5):
  print(chr(65))

A
A
A
A

In [ ]:
f={'a':1,'b':2}
for i in f:
  print(i)
for i in range(len(f)):
  print(f)

a
b
{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [ ]:
a=1
for i in range(a,5):
  print((chr(65)+a),end =" ")
  a+=1

TypeError: can only concatenate str (not "int") to str

In [ ]:
a=1
for i in range(a,5):
  print(chr(64+a),end =" ")
  a+=1

A B C D

In [ ]:
for i in range(1,5):
  print('*')

*
*
*
*

In [ ]:
for i in range(1,5):
  print('*',end=" ")
  print('*')

* *
* *
* *
* *

In [ ]:
for i in range(1,5):
  print('*',end=" ")

* * * *

In [ ]:
for i in range(1,5):
  print(i)
i+=1

1
2
3
4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print('*',end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print('i',end=" ")
  print()

i i i i
i i i i
i i i i
i i i i

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(i,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(j,end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,5,-1):
  for j in range(1,5,-1):
    print(j,end=" ")
  print()